/*full body */
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #0f172a;      
    color: white;
}

/* Navbar */
.nav {
    text-align: center;
    padding: 20px;
    background: #111827;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.nav a {
    color: #e5e7eb;
    text-decoration: none;
    margin: 0 20px;
    font-size: 17px;
    font-weight: 600;
}

.nav a:hover {
    color: #8b5cf6;   
}

/* port.html */
.home {
    text-align: center;
    padding: 160px 20px;

    background: linear-gradient(135deg, #4f46e5, #7c3aed);
}

.home h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.home p {
    font-size: 18px;
    opacity: 0.95;
}

/*page */
.page {
    max-width: 1000px;
    margin: 60px auto;
    padding: 60px 30px;

    background: #1e293b;  
    border-radius: 18px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

/* skills.html */
.skill {
    display: inline-block;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 25px;

    background: #8b5cf6;
    color: white;
    font-weight: bold;
}

/* Projects.html */
/* ===== GRID LAYOUT ===== */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

/* ===== CARD ===== */
.project {
    background: #1f2937;
    padding: 25px;
    border-radius: 14px;
    color: white;

    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* button */
.project a {
    margin-top: 15px;
    display: inline-block;
    padding: 8px 14px;
    background: #38bdf8;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}


/* Contact.html */
.contact p {
    margin: 10px 0;
    font-size: 16px;
}

/* ===== Footer ===== */
.footer {
    text-align: center;
    padding: 18px;
    background: #111827;
    margin-top: 40px;
}

/*responsive*/
@media(max-width: 600px){
    .project {
        width: 90%;
    }

    .home h1 {
        font-size: 34px;
    }
}
